* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.4rem;
  color: #000000;
}
.header-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.gradient-header {
  top: 0;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  /*background: linear-gradient(to left, #ffb2e6, #d972ff, #8447ff, #8cffda 100%);*/
	background-size: 300% 300%;
	animation: gradient 15s ease infinite;
	height: 12px;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000000;
  color: #ffffff;
  border: none;
}
#navbar > p {
  margin-left: 2%;
  margin: 2% 0 2% 20%;
}
#navbar ul {
  display: flex;
  flex-direction: row;
  margin: 2% 20% 2% 0;
}
#navbar ul :not(:last-child) {
  margin-right: 3rem;
}
#navbar li > a, 
.gradient-link { /*#navbar li > a*/
  color: #ffffff;
  position: relative;
  padding-bottom: 7px;
}
#navbar li > a:hover:after, 
.gradient-link:hover:after {
  left: 0;
  width: 100%;
}
#navbar li > a::after, 
.gradient-link::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  right: 0;
  position: absolute;
  background: linear-gradient(to left, #ee7752, #e73c7e, #23a6d5, #23d5ab 100%);
  /*background: linear-gradient(to left, #cdb4db, #ffc8dd, #ffafcc, #bde0fe, #a2d2ff 100%);*/
  background-size: 300% 300%;
  transition: width .5s ease 0s, right .5s ease 0s;
  animation: gradient 15s ease infinite;
  width: 0;
}
.logo {
  color: #ffffff;
}
.logo:hover {
  color: #ffffff;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #000000;
}
a:hover {
 color: #000000;
}
h1, h3, .subtitle {
  font-family: 'Noto Serif', serif;
  font-weight: 700;
}
h2 {
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
main {
  margin: 1% 0 0 0;
}
#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 50vh;
  padding: 0 20% 0 20%;
  border: none;
  background-color: #000000;
  color: #ffffff;
}
#welcome-section h1 {
  font-size: 5rem;
  padding-bottom: 2rem;
}
#welcome-section > .welcome-subtitle {
  font-size: 2.75rem;
  border: none;
}
.subtitle {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.long-description {
  /*width: 70%;*/
  line-height: 1.7;
  margin-top: 1rem;
}
#about, #projects {
  margin: 0 20% 0 20%;
}
#about, #projects {
  padding: 10rem 0 1rem 0;
}
#projects {
  padding-bottom: 7rem;
}
#projects > .subtitle {
  margin-bottom: .75rem;;
}
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 450px));
  grid-gap: 1rem;
  justify-content: space-between;
  font-size: 1.2rem;
}
.project-image {
  max-width: 450px;
  border: 1px solid #bcbcbc;
}
.project-tile {
  position: relative;
  margin-top: 2rem;
  transition: all .3s linear;
  border: 1px solid #fff;
  max-height: 284.5px;
}
.project-tile .project-title {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  top: 5%;
}
.project-tile:hover {
  border: 1px solid #bcbcbc;
}
.project-tile:hover .project-title {
  display: block;
}
.project-tile img {
  transition: opacity .3s linear;
}
.project-tile:hover img {
  opacity: 0;
}
.project-title {
  padding: 30px;
}
.project-title > h3 {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.project-title > p {
  text-align: left;
  line-height: 1.7;
}
#contact {
  color: #ffffff;
  background-color: #000000;
  padding: 2rem 0 6rem 0;
  text-align: center;
}
#contact > .subtitle {
  font-size: 2.5rem;
}
i {
  margin-right: .75rem;
}
.angle-contact {
  background-color: #000000;
  height: 150px;
  clip-path: polygon(100% 100%, 0 100%, 0 0);
  /*clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);*/
  border: none;
}
.angle-welcome {
  height: 150px;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  /*clip-path: polygon(100% 100%, 100% 0, 0 0);*/
  border: none;
  background-color: #000000;
}
.angle-nav {
  /*height: 150px;*/
  /*clip-path: polygon(100% 100%, 100% 0, 0 0);*/
  /*clip-path: polygon(100% 100%, 100% 0, 0 0);*/
  /*clip-path: polygon(0 0, 100% 0, 100% 70%, 77% 100%, 12% 42%, 0 60%);*/
  border: none;
  background-color: #000000;
}
#contact a {
  color: #ffffff;
}
#contact ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3.5rem;
  font-size: 1.3rem;
}
#contact > ul :not(:last-child) {
  margin-right: 4rem;
}
.footer-line {
  border-bottom: 1px solid #a1a1a1;
  padding-bottom: 4rem;
  margin: 3rem 30% 0 30%;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 1.2rem;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
  #navbar > p {
    text-align: center;
    padding-bottom: 1rem;
  }
  #navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    background-color: #f0f4f6;
    margin: 0;
  }
  #welcome-section {
    padding: 9rem 15px 0 15px;;
    margin: 0 15px 0 15px;
  }
  #welcome-section h1 {
    font-size: 5rem;
    padding: .5rem;
  }
  .subtitle {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .long-description {
    width: 100%;
    line-height: 1.7;
    margin-top: 1rem;
  }
   h2 {
    font-size: 2.5rem;
  }
  #projects {
    padding: 9rem 15px 1rem 15px;
  }
  #contact ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem 33% 0 40%;
    font-size: 1.3rem;
  }
  #contact ul > li {
    padding: 10px 0 10px 0;
  }
  #contact > ul :not(:last-child) {
    margin-right: 0;
  }
  .copyright {
    margin: 3rem 0 0 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 1.3rem;
  }
  .subtitle {
    font-size: 1.4rem;
  }
  .long-description {
    line-height: 1.7;
    width: 100%;
    padding: 0 3rem 0 3rem;
  }
}